@import '../abstract/variables';
@import '../abstract/bases';

.traced-line-product {
    float: right;
    position: absolute;
    top: -2.5rem;
    left: 20rem;
    z-index: -2
}

.feature-product {
    margin: 6rem 0 0 8rem;
        .feature-product-description {
            z-index: 1;
           .title-feature {
            h1 {
            font-weight: 800;
            line-height: 6.5rem;
            color: $dark;
            font-size: $title-text*1.3;
                }}
                .description-feature {
                    margin-top: 4rem;
                    color: $description-text;
                    p {
                        font-size: $botton-text - 0.2;
                        line-height: 2em;
                    }
                }
                .recent-work-button {
                    margin-top: 4rem;
                    a {                  
                    color: $light;
                    font-size: $botton-text;
                    width: auto;
                    height: auto;
                    text-decoration: none;
                    font-weight: 300;
                    color: $light;
                    background: $primary-shade-color;
                    padding: 1rem 2.5rem;
                    border-radius: 6px;
               } 
              }
              .scroll-down {
                margin: 8rem 0 0 2rem;
                a {
                    text-align: center;
                    color: $light;
                    border-radius: 50%;
                    padding: 1rem;
                    background: #C897E4 ;
                }
                label {
                    color: $description-text;
                }
              }

    }
        .feature-product-images {

            z-index: -1;
            position: absolute;
            top: 12rem;
            right: 4rem;
        }
}