@import '../abstract/variables';
@import '../abstract/bases';

.traced-line-product {
    width: 642.21px;
    height: 819.25px;
    position: absolute;
    top: 0.98px;
    left: 321px;
    z-index: -2
}
.feature-product-images {
            width: 924px;
            height: 722px;
            position: absolute;
            top: 222px;
            left: 406px;
        }
.feature-product {
    margin-left: 116px;
        .feature-product-description {
            z-index: 1;
           .title-feature {
            h1 {
            width: 467px;
            height: 300px   ;
            font-weight: 700;
            line-height: 100.24px;
            color: $dark;
            font-size: 84px;
                }}
                .description-feature {
                    margin-top: 40px;
                    color: $description-text;
                    p {
                        text-align: left;
                        width: 367px;
                        font-weight: 400;
                        font-size:$normal-text;
                        line-height: 32px;
                    }
                }
                
    }
      
} .feature-product-recent-work-button {
                 margin-top: 48px;
                a {                  
                color: $light;
                font-size:$normal-text;
                text-decoration: none;
                font-weight: 300;
                color: $light;
                background: $primary-shade-color;
                padding: 20px 37px;
                border-radius: 6px;
                &:hover {
                    box-shadow: 0px 0px 1px 0.5px black;
                }
               } 
              }
.scroll-down { 
        position: absolute;
        top: 896px;
        left: 135px;
    img {
        width: 10px;
        height: 20px;
        padding: 19px;
        border-radius: 50%;
        background: #C897E4;
        &:hover {
            box-shadow: 0px 0px 1px 0.5px black;

        }
       
}
label {
    position: relative;
    top: -25px;
    color: $description-text;
    vertical-align: middle;
    margin-left: 16px;
}
}
@media screen and (max-width: 1024px) {
    .traced-line-product {
        width: 456.68px;
        height: 582.58px;   
        top: -27.31px;
        left: 220.27px;
        z-index: -2
    }
    .feature-product-images {
                width: 562px;
                height: 510px;
                position: absolute;
                top: 158px;
                left: 366px;
                img {
                    width: 562px;
                    height: 510px;
            }
        }
    .feature-product {
        margin-left: 107px;
            .feature-product-description {
               .title-feature {
                h1 {
                    width: 332px;
                    height: 216px;
                    line-height: 72px;
                    font-size: 64px;
                    letter-spacing: -0.5px;
                    }}
                    .description-feature {
                        margin-top: 24px;
                        p {
                            font-size: 16px;
                            width: 261px;
                            height: 84px;
                            font-weight: 400;
                            line-height: 34px;
                        }
                    }
                    
        }
          
    } .feature-product-recent-work-button {
                     margin-top: 66px;
                    a {                  
                    font-size: 16px;
                    font-weight: 600;
                    padding: 17px 33px;
                   } 
                  }
    .scroll-down { 
            position: absolute;
            top: 648px;
            left: 107px;
        img {
            width: 10px;
            height: 20px;
            padding: 10px 15px;
            border-radius: 50%;
            background: #C897E4;
            &:hover {
                box-shadow: 0px 0px 1px 0.5px black;
    
            }
           
    }
    label {
        visibility: hidden;
        &:after{
            position: absolute;
            left: 0;
            top: -4px;
            font-style: bold;
            text-align: left;
            font-size: 16px;
            line-height: 22px;
            width: 94px;
            height: 44px;
            visibility: visible;
             content: "Swipe down to explore"
        }
    }
    }
}