@import "../abstract/variables.scss";
@import '../abstract/bases.scss';

.header-desktop {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
    img {
        width: auto;
        height: 2.5rem;   
    }
    .nav-desktop {
        a {
            color: grey;
            font-size: $botton-text;
            text-decoration: none;
            margin: 0 0 0 4rem;
                &:hover {
                    color: $additional-color ;
                }
        }
    }
        .contact-us-botton {
            font-size: $botton-text;
            width: auto;
            height: auto;
            text-decoration: none;
            font-weight: 300;
            color: $light;
            background-color: $dark;
            padding: 1rem 2.5rem;
            border-radius: 6px;
        }
    }
