@import "../abstract/variables.scss";
@import '../abstract/bases.scss';


.header-desktop {
    width: 1296;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 64px 68px 76px 64px;
    align-items: center;
    .banner {
        width: 159px;
        height: 40px;
    }
    .nav-desktop {
        a {
            color: grey;
            font-size: $botton-text;
            text-decoration: none;
            margin: 0 0 0 64px;
            line-height: 24px;
            vertical-align: top;
                &:hover {
                    color: $additional-color ;
                }
            }
                img {
                    height: 24px;
                    width: 24px;
                    border-radius: 0px;
                    position: relative;
                    top: -15px;
                    left: 8px;
                }
        }
    }
        .contact-us-botton {
            margin: 1px;
            font-size: $botton-text;
            width: auto;
            height: auto;
            text-decoration: none;
            font-weight: 300;
            color: $light;
            background-color: $dark;
            padding: 20px 40px 20px 40px;
            border-radius: 6px;
            &:hover {
                box-shadow: 0px 0px 1px 0.5px black;
            }
        }
 @media screen and (max-width: 1024px){
    .header-desktop {
        width: 924px;
        height: 56px;
        margin: 39.51px 49.8px 73px 50px;
        .banner {
            width: 127.2x;
            height: 32px;
        }
        .nav-desktop {
            a {
                font-size: 16px;
                margin: 0 0 0 56px;
                line-height: 22px;
                }
            }
        }
            .contact-us-botton {
                margin: 1px;
                font-size: 16px;
                width: auto;
                height: auto;
                text-decoration: none;
                font-weight: 300;
                color: $light;
                background-color: $dark;
                padding: 17px 40.5px 17px 40.5px;
                border-radius: 6px;
                &:hover {
                    box-shadow: 0px 0px 1px 0.5px black;
                }
            }
 }       
    
 @media screen and (max-width: 375px ) {
    .header-desktop {
        width: 924px;
        height: 56px;
        margin: 39.51px 49.8px 73px 50px;
        .banner {
            width: 127.2x;
            height: 32px;
        }
        .nav-desktop {
            a {
                font-size: 16px;
                margin: 0 0 0 56px;
                line-height: 22px;
                }
            }
        }
            .contact-us-botton {
                margin: 1px;
                font-size: 16px;
                width: auto;
                height: auto;
                text-decoration: none;
                font-weight: 300;
                color: $light;
                background-color: $dark;
                padding: 17px 40.5px 17px 40.5px;
                border-radius: 6px;
                &:hover {
                    box-shadow: 0px 0px 1px 0.5px black;
                }
            }
 }       

