//main color
$active-color: #ffbc50;
$primary-color: #f17a8f;
$secondary-color: #6cc9b7;
$additional-color: #3886d1;
$background-color: #d3c0b4;
//colors of second part
$second-base-color: #79baf2;
$second-secondary-color: #428aca;
//colors of devices
$device: #fbf8f3;
$objects: #fbf8f3;
$objects-1: #f1b2cc;
//shade color  
$primary-shade-color:#5468e7;
$secondary-shade-color:#c897e4;
$dark: #232340; 
$light: #ffffff;
$accent: #ffc7df;
$accent-1: #ffba79;
$accent-2: #9a97ed;
//shades colors
$primarys-shades-color: #d1ecfd;
$secondarys-shades-color: #e8beff;
$darks-shades-color: #323259;
$lights-shades-color: #ededed;
$accents-shades-color: #ffadd0;
$accents-shades-color-1: #ffce79;
$accents-shades-color-2: #7a9ee8;
//text colors
$description-text: #606060;